<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sakura Trails Travel</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Litvinenco Andrei" />
    <meta name="descriptiom" content="Demo project page for a travel company" />
    <meta name="keywords" content="HTML, CSS, JavaScript, Travel, Japan" />

    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='images/ico/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='images/ico/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='images/ico/favicon-16x16.png') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='images/ico/site.webmanifest') }}" />
    <link rel="mask-icon" href="{{ url_for('static', filename='images/ico/safari-pinned-tab.svg') }}" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/env.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cta.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
</head>

<body>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    {% block content %}{% endblock %}

    {% include 'components/footer.html' %}
</body>

</html>